In [1]:
import requests
import pandas as pd
from pymongo import MongoClient
import time

In [2]:
url ='https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=TSCO.LON&outputsize=full&apikey=demo'
r = requests.get(url)
data = r.json()
time_series = data['Time Series (Daily)']
df = pd.DataFrame.from_dict(time_series, orient='index')
df.index = pd.to_datetime(df.index)
df.reset_index(inplace=True)
df.columns = ['date', 'open', 'high', 'low', 'close', 'volume']
data_types = df.dtypes
numeric_cols = ['open', 'high', 'low', 'close', 'volume']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric)
df['year'] = pd.DatetimeIndex(df['date']).year
df = df.round(1)
yearly_high = df.groupby('year')['high'].max().reset_index()
yearly_low = df.groupby('year')['low'].min().reset_index()
yealy_Highest_volume_trade = df.groupby('year')['volume'].max().reset_index() 
yealy_Lowest_volume_trade = df.groupby('year')['volume'].min().reset_index()
yearly_high.columns = ['year', 'highest_high']
yearly_low.columns = ['year', 'lowest_low']
yealy_Highest_volume_trade.columns=['year','Highest_volume_trade']
yealy_Lowest_volume_trade.columns=['year','Lowest_volume_trade']
yearly_data = pd.merge(yearly_high, yearly_low, on='year')
yearly_volume = pd.merge(yealy_Highest_volume_trade, yealy_Lowest_volume_trade, on='year')
yearly_data = pd.merge(yearly_volume, yearly_data, on='year')
yearly_data

    year  Highest_volume_trade  Lowest_volume_trade  highest_high  lowest_low
0   2005             126784073              3221791         336.0       292.3
1   2006             149715675              8771382         411.3       307.5
2   2007             106460892              1826091         494.3       392.0
3   2008              69321575              3130610         482.8       283.8
4   2009              50534666              1939873         437.1       301.4
5   2010              47491982              1662045         454.9       368.4
6   2011              41843602              2996965         439.7       349.0
7   2012             195130296              3566607         412.0       294.5
8   2013              33990876              2928255         388.1       316.6
9   2014             111097544              5160933         341.6       155.4
10  2015             119768738              2471657         252.5       141.0
11  2016             114384529              4205640         219.4       137.0
12  2017             135087040              4424889         215.2       165.4
13  2018             195599626              3970129         266.8       187.1
14  2019              99404659              1943483         260.4       188.1
15  2020             120261369              5447207         260.0       202.0
16  2021              83794914              2246590         293.2       217.1
17  2022              71627773              6952167         304.1       194.4
18  2023              66772383              6560879         307.2       225.2

In [4]:
df['year'] = pd.DatetimeIndex(df['date']).year
m_2023 = df[df['date'].dt.year == 2023]
m_2023['month'] = pd.DatetimeIndex(m_2023['date']).month
monthly_high_2023 = m_2023.groupby('month')['high'].max().reset_index()
monthly_low_2023 = m_2023.groupby('month')['low'].min().reset_index()
monthly_Highest_volume_trade = m_2023.groupby('month')['volume'].max().reset_index() 
monthly_Lowest_volume_trade = m_2023.groupby('month')['volume'].min().reset_index()
monthly_high_2023.columns = ['month', 'highest_high']
monthly_low_2023.columns = ['month', 'lowest_low']
monthly_Highest_volume_trade.columns=['month','Highest_volume_trade']
monthly_Lowest_volume_trade.columns=['month','Lowest_volume_trade']
Monthly_data_2023_1 = pd.merge(monthly_high_2023, monthly_low_2023, on='month')
Monthly_data_2023_2 = pd.merge(monthly_Highest_volume_trade, monthly_Lowest_volume_trade, on='month')
Monthly_data_2023 = pd.merge(Monthly_data_2023_1, Monthly_data_2023_2, on='month')
Monthly_data_2023

<ipython-input-4-89f661a4e184>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_2023['month'] = pd.DatetimeIndex(m_2023['date']).month

   month  highest_high  lowest_low  Highest_volume_trade  Lowest_volume_trade
0      1         251.3       225.2              66772383              8637548
1      2         257.1       240.4              61867461              8042551
2      3         307.2       244.1              50238020             10617250
3      4         282.2       262.0              27352670              9788205
4      5         285.3       260.0              45460199              9611499
5      6         267.3       245.6              45360391              9388036
6      7         264.8       244.2              51577809              6560879

In [31]:
client = MongoClient("mongodb+srv://ganesh:group54@cluster0.fsvkohb.mongodb.net/")
db = client.get_database('StockDB')
records = db.yearly_data
data_dict = yearly_data.to_dict('records')
records.insert_many(data_dict)

records = db.Monthly_data_2023

data_dict_2 = Monthly_data_2023.to_dict('records')

records.insert_many(data_dict_2)